.row {
    display: flex;
}


.cell {
    border: solid;
    border-width: 1px;
    border-color: black;
    height: 5vh;
    width: 5vh;
    border-radius: 4px;    
}

.cell:hover{
    background-color: black;
}

