body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

#container {
    display: flex;
    height: 50vh;
    width: 50vh;
    justify-content: center;
    margin: 50px;
    flex: auto;
}

.row {
    display: flex;
}


.cell {
    border: solid;
    border-width: 1px;
    border-color: black;
    height: 5vh;
    width: 5vh;
    border-radius: 4px;    
}

.cell:hover{
    background-color: black;
}

footer {
    margin-top: auto;
}

