body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: thistle;
    border-radius: 4px;
}

#container {
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: auto;
}

#gridRows {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    flex: 1;
}

.cell:hover{
    background-color: black;
}

footer {
    margin-top: auto;
    margin-bottom: 5px;
}

